<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"
    />
    <title>los Patojos</title>
  </head>
  <body>
    <header class="mainbar">
      <nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <h1 class="title ml-5">Los Patojos
      </h1>
    </a>
    {{#if logged_in}}
    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample" id="burger">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  
  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="/">
        Home
      </a>
      <a class="navbar-item" href="/dashboard">
        Dashboard
      </a>
      <a class="navbar-item" id="navlogout" style="color:red;">Logout</a>
        </div>
      </div>
    </div>
    {{else}}
    {{/if}}

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          {{#if logged_in}}
          <button class="button is-danger" id="btn">logout</button>
          {{else}}
          <!---<a id="signupbtn" class="button is-primary" href="/signup">
            <strong>Sign up</strong>
          </a>
          -->
          {{/if}}            
          </a>
          </div>
      </div>
    </div>
  </div>
</nav>
    </header>
    <main>
      {{{body}}}
    </main>
    <footer>

    </footer>
    {{#if logged_in}}
      <script src="/js/logout.js"></script>
    {{/if}}

  </body>
</html>
<style>
  @media screen and (max-width:500px){
    #btn{
      display:none;
    }
  }
  @media screen and (min-width:768px){
    #burger{
      display:none;
    }
  }
  @media screen and (min-width:1024px){
    #navlogout{
      display:none;
    }

  }
</style>
<script src="/js/main.js"></script>
