<form id="reviewform" class="reviewform">
  <span>Title:</span><br />
  <input type="text" id="reviewtitlecontent" maxlength="25" />
  <br />
  <span>Content:</span>
  <textarea
    class="textarea"
    id="reviewcontent"
    cols="2"
    rows="3"
    style="width: 5%"
    maxlength="78"
  ></textarea>
  <button id="submitbtn" type="submit" class="button is-success">submit</button>
</form>
{{#each reviews as |review|}}
  <article class="media">
    <figure class="media-left">
    </figure>
    <div class="media-content">
      <div class="content">
        <p class="reviewcontent">
          <strong>{{review.review_title}}</strong>
          @<small>{{user.username}}</small>
          <br />
          {{review.review_content}}
        </p>
      </div>
      <!--
      <nav class="level is-mobile">
        <div class="level-left">
          <a class="level-item">
            <span class="icon is-small"><i class="fas fa-reply"></i></span>
          </a>
          <a class="level-item">
            <span class="icon is-small"><i class="fas fa-retweet"></i></span>
          </a>
          <a class="level-item">
            <span class="icon is-small"><i class="fas fa-heart"></i></span>
          </a>
        </div>
      </nav>
      -->
    </div>
    <div class="media-right">
    </div>
  </article>
{{/each}}
<style>
  #reviewform{ width:750px; margin-left:470px } .reviewcontent{ width:750px;
  margin-left:455px; border-radius:5px;border:solid 1px;height:80px }
  /*-------------------------------------------------------------------------*/
  @media screen and (max-width:1200px){ #reviewform{ width:550px;
  margin-left:300px } .reviewcontent{ margin-left:280px; width:555px } }
  /*---------------- IPHONE 12 --------*/ @media screen and (max-width:390px){
  #reviewform{ width:320px; margin-left:40px} .reviewcontent{
  margin-left:22px;width:320; height: 50px} }

</style>
<script src="/js/dashboard.js"></script>