<h1 class="title" id="title">Welcome, {{user.username}}</h1>
<div class="norrisdiv">
<h2 id="norrisjoke"></h2>
</div>
<main id="main" class="main">
<!--
{{#each user.Reviews}}
  <article class="media">
    <figure class="media-left">
    </figure>
    <div class="media-content">
      <div class="content">
        <p>
          <strong></strong>{{review_title}}</strong>
          <br>
          <br />

          {{review_content}}

        </p>
      </div>
      <nav class="level is-mobile">
        <div class="level-left">

          <a class="level-item">
            <span class="icon is-small"><i class="fas fa-reply"></i></span>
          </a>
          <a class="level-item">
            <span class="icon is-small"><i class="fas fa-retweet"></i></span>
          </a>
          <a class="level-item">
            <span class="icon is-small"><i class="fas fa-heart"></i></span>
          </a>
        </div>
      </nav>
    </div>
    <div class="media-right">
      <button class="delete delete-post" id="deletebtn" data-review-id={{id}}></button>
    </div>
  </article>
  {{/each}}
</main>
-->
<style>
  #title{
    font-size:25px;
    display:inline-block;
    
  }
  #submitbtn{
    margin-top:10px;
  }
  #title{
    margin-left:100px;
    margin-top:30px;
  }

  #norrisjoke{
    text-align: center;
    margin-top:12px;
    font-size:25px
  }
  @media screen and(max-width:390px){
    #id{
      align-content: center;
    }
  }

</style>
<script src="/js/home.js"></script>