<h2 class="logintitle">Login</h2>

<form id="loginform" class="loginform">
  <div class="usernamediv">
    <span>Username:</span>
    <input
      type="text"
      placeholder="Username.."
      id="loginusername"
      class="loginusernamebtn"
    />
  </div>
  <div class="passworddiv">
    <span>Password:</span>
    <input
      type="password"
      placeholder="Password.."
      id="loginpassword"
      class="loginpasswordbtn"
    />
  </div>
  <button type="submit" id="loginbtn">Login</button>
</form>
<style>
  .logintitle{ color:black; font-size:30px; margin-left:120px; margin-top: 50px;
  border-bottom: solid 1px; display:inline-block;} .loginform{ margin-left:
  120px; margin-top: 10px; } #loginbtn{ margin-top: 10px;} /*------- IPHONE 12
  PRO -----*/ @media only screen and (max-width:390px){ .logintitle{
  color:black; font-size:30px; margin-left:50px; margin-top: 50px;
  border-bottom: solid 1px; display:inline-block;} .loginform{ margin-left:
  50px; margin-top: 10px; } #loginbtn{ margin-top: 10px;} } /*------ IPHONE 14
  PRO MAX ---*/ @media only screen and (max-width:430px){ .logintitle{
  color:black; font-size:30px; margin-left:60px; margin-top: 50px;
  border-bottom: solid 1px; display:inline-block;} .loginform{ margin-left:
  60px; margin-top: 10px; } #loginbtn{ margin-top: 10px;} } /*------ PIXEL 7
  -----*/ @media only screen and (max-width:412px){ .logintitle{ color:black;
  font-size:30px; margin-left:50px; margin-top: 50px; border-bottom: solid 1px;
  display:inline-block;} .loginform{ margin-left: 50px; margin-top: 10px; }
  #loginbtn{ margin-top: 10px;} } /* --------- GALAXY S20 ULTRA -----*/ @media
  only screen and (max-width:412px){ .logintitle{ color:black; font-size:30px;
  margin-left:50px; margin-top: 50px; border-bottom: solid 1px;
  display:inline-block;} .loginform{ margin-left: 50px; margin-top: 10px; }
  #loginbtn{ margin-top: 10px;} }

</style>
<script src="/js/login.js"></script>