<h2 class="title">Login</h2>

<form id="loginform" class="loginform">
  <div class="usernamediv">
    <span>Username:</span>
    <input
      type="text"
      placeholder="Username.."
      id="loginusername"
      class="loginusernamebtn"
    />
  </div>
  <div class="passworddiv">
    <span>Password:</span>
    <input
      type="password"
      placeholder="Password.."
      id="loginpassword"
      class="loginpasswordbtn"
    />
  </div>
  <button type="submit" id="loginbtn">Login</button>
  <p>*testing status</p>
</form>
<script src="/js/login.js"></script>