<style>
  #title{
    font-size:25px;
    display:inline-block;
    margin-top: 10px;
  }
  #submitbtn{
    margin-top:10px;
  }

</style>

<h1 class="title" id="title">Welcome, {{user.username}}</h1>
<p>*this page is to make post about</p>
<br>
<h2 >Share whats on your mind:</h2>
<form id="reviewform">
  <span>Title:</span><br />
  <input type="text" id="reviewtitlecontent" />
  <br />
  <span>Content:</span>
  <textarea
    class="textarea "
    id="reviewcontent"
    cols="2"
    rows="3"
    style="width: 5%"
  ></textarea>
  <button id="submitbtn" type="submit" class="button is-success">submit</button>
</form>

<main id="main" class="main">

{{#each user.Reviews}}
  <article class="media">
    <figure class="media-left">
    </figure>
    <div class="media-content">
      <div class="content">
        <p>
          <strong></strong>{{review_title}}</strong>
          <br>
          <br />

          {{review_content}}

        </p>
      </div>
      <nav class="level is-mobile">
        <div class="level-left">

          <a class="level-item">
            <span class="icon is-small"><i class="fas fa-reply"></i></span>
          </a>
          <a class="level-item">
            <span class="icon is-small"><i class="fas fa-retweet"></i></span>
          </a>
          <a class="level-item">
            <span class="icon is-small"><i class="fas fa-heart"></i></span>
          </a>
        </div>
      </nav>
    </div>
    <div class="media-right">
      <button class="delete delete-post" id="deletebtn" data-review-id={{id}}></button>
    </div>
  </article>
  {{/each}}
</main>

<script src="/js/profile.js"></script>